/* Global font family - Poppins */
* {
  font-family:
    'Poppins',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1 !important;
}

.text-caption-2 {
  font-size: 0.75rem !important;
  line-height: .95rem;
}
